* {
    padding: 0;
    margin: 0;
    border: none;
}

/* CI hackathon team11 */
:root {
    --green: #46ad32;
    --red: #df4646;
    --blue: #67bcec;
    --yellow: #dcdf43;
    --black: #000000;
    --gray: #c9c9c9;
    --dark-gray: #2e2626;
    --transparent-black: rgba(46, 38, 38, 0.9);
    --transparent-white: rgba(255, 255, 255, 0.60);
}

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    background-color: var(--black);
    color: var(--dark-gray);
}

h1, h2, h3 {
    font-family: 'Bungee', cursive;
}

/* ---------------------------------------------- NAVIGATION BAR ----------------------------- */
/* Javascript academy tutorial for responsive navigation bar except some modifications */
header {
    padding: 0 20px;
    height: 60px;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

/* Own code */
.logo h1 {
    border: 1px solid var(--black);
    padding: 5px;

}

/* Own code */
.logo h1 .first-word {
    color: var(--red);
}

/* Own code */
.logo h1 .second-word {
    color: var(--blue);
}

/* Own code */
.logo h1 .third-word {
    color: var(--green);
}

.nav-game ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-game ul li {
    margin-left: 20px;
}

/* Own code */
.nav-game ul li a {
    padding: 10px;
    color: var(--gray);
}

.logo h1:hover {
    border: 1px solid var(--yellow);
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-game ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-game ul li a:hover {
    background: var(--dark-gray);
    border: 1px solid var(--yellow);
}

.game-icon {
    display: none;
    position: relative;
}

.game-icon i {
    margin: 20px 10px 20px 70px;
    color: var(--gray);
    font-size: 20px;
    cursor: pointer;
}

.open .game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    clear: both;
}

.game-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: -50px;
    height: calc(35vh - 50px);
    width: 250%;
    background-color: var(--transparent-black);
    list-style-type: none;
}

.game-menu li {
    margin: 20px;  
}

.game-menu li a {
    padding: 10px 3em;
    color: var(--gray);
}

.game-menu li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.game-menu li a:hover {
    border: 1px solid var(--yellow);
}

/* .game-menu li a:hover {
    
} */

/* KEVIN POWELL TUTORIAL */
/* header::after {
    content: '';
    display: table;
    clear: both;
    color: green;
}

.menu-container {
    width: 60%;
    margin: 0 auto;
    height: 10%;
}

.logo {
    float: left;
    display: flex;
    padding: 10px 0;
}

.logo h1 {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;

}

.logo h1 .first-word {
    color: var(--green);
}

.logo h1 .second-word {
    color: var(--red);
}

.logo h1 .third-word {
    color: var(--blue);
}
.nav-game {
    float: right;
}

.nav-game ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-game li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 25px;
}

.menu-container a:hover {
    color: green;
}

.logo h1:hover {
    background: rgb(250, 250, 206);
    border: 1px solid var(--yellow);
}

/* w3schools tutorials
.nav-game .icon {
    display: none;
} */




/* ---------------------------------------------- BACKGROUND IMAGE --------------------------- */
/* Background are own code */
.main-bg {
    height: 600px;
    max-height: 100%;
    background-size: contain;
    background-image: url('../images/mario-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.main-container {
    width: 500px;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    /* background: rgba(255, 255, 0, 0.6); */
    text-align: center;
    
}

.welcome-player {
    padding: 20px;
}

.welcome-player img {
    height: 50px;
}

.help-player {
    background: var(--transparent-white);
    border: 5px solid var(--black);
    padding: 20px;
    border-radius: 5px;
    /* margin: 50px 0; */
}

/* ---------------------------------------------- BUTTONS --------------------------- */
/* All buttons are own code */
.btn-container {
    margin: 20px 0;
}

.btn {
    display: inline-flex;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    border: 2px solid var(--dark-gray);
    border-radius: 5px;
    margin: 20px 0;
    text-decoration: none;
    color: initial;
    font-family: 'Bungee', cursive;
}

.start-btn {
    background: var(--yellow);
}

.start-text {
    font-size: 20px;
}

.start-icon img {
    height: 50px;
}

.player-btn {
    background: var(--blue);
}

.btn:hover {
    box-shadow: 9px 9px 10px var(--black);
    transform: scale(1.1);
    transition: 0.3s;
}

.start-btn:active {
    background: #a2a505;
}

.player-btn:active {
    background: #1596e0;

}

/* ---------------------------------------------- MEDIA QUERIES --------------------------- */
/* All media queries are own code */
@media screen and (max-width: 1220px){
    .nav-game {
        display: none;
    }
    .game-icon {
        display: block;
    }
}

@media screen and (max-width: 1000px){
    .main-container {
        width: 400px;
    }
}

@media screen and (max-width: 600px){
    .nav-game {
        display: none;
    }

    .game-icon {
        display: block
    }
    
    .main-bg {
        background-size: cover;
    }

    .main-container {
        width: 80%;
    }
}

@media screen and (max-width: 430px){
    .logo h1 {
        font-size: 15px;
    }
    .game-icon i {
        margin-left: 50px;
    }
}